<div class="layout-footer">

    <a href="http://www.honeywell.com/terms-conditions">Terms & Conditions</a>
    <a href="http://www.honeywell.com/privacy-statement">Privacy Statement</a>
    <a href="https://honeywell.com/sites/hrdirect/Pages/Welcome.aspx">Employee Access</a>
    <a href="https://www.honeywell.com/contact-us">Contact Honeywell</a>
    <a href="http://www.careersathoneywell.com/">Careers</a>
    <a href="http://www.honeywell.com">&copy; 2021 Honeywell International Inc.</a>

</div>